button {
    border-radius: 20%;
    border-width: 1px;
    border-color: #393E46;
    transition-duration: 400ms;
}

button#foge_button_yes:hover {
    background-color: rgb(0, 255, 0);
    color: white;
}

button#foge_button_no:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

label {
    color: #222831;
}