button {
    border-radius: 20%;
    border-width: 1px;
    border-color: #393E46;
    transition-duration: 400ms;
}

button:hover {
    background-color: #00ADB5;
    color: #EEEEEE;
}



label {
    color: #222831;
}